WebContent/wsdl/serverSOAP.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/server/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="server" targetNamespace="http://www.example.org/server/">
    <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/server/">
      <xsd:simpleType name="Result">
	<xsd:restriction base="xsd:string"/>
      </xsd:simpleType>
    </xsd:schema>
  </wsdl:types>
    <wsdl:message name="queryUserRequest">
    <wsdl:part name="queryUserRequest" type="tns:Result"/>
  </wsdl:message>
  <wsdl:message name="queryUserResponse">
    <wsdl:part name="queryUseResponse" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="Request">

  </wsdl:message>
  <wsdl:message name="Response">

  </wsdl:message>
  <wsdl:portType name="server">
    <wsdl:operation name="queryUser">
      <wsdl:input message="tns:queryUserRequest"/>
      <wsdl:output message="tns:queryUserResponse"/>
    </wsdl:operation>

  </wsdl:portType>
  <wsdl:binding name="serverSOAP" type="tns:server">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="queryUser">
      <soap:operation soapAction="http://www.example.org/server/queryUser"/>
      <wsdl:input>
        <soap:body namespace="http://www.example.org/server/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body namespace="http://www.example.org/server/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="server">
    <wsdl:port binding="tns:serverSOAP" name="serverSOAP">
      <soap:address location="http://localhost:8080/ubss/services/serverSOAP"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
